seguimiento/Service References/preorden_compra/Pre_orden_compra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lista_productos">
        <s:complexType />
      </s:element>
      <s:element name="Lista_productosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lista_productosResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Lista_productosSoapIn">
    <wsdl:part name="parameters" element="tns:Lista_productos" />
  </wsdl:message>
  <wsdl:message name="Lista_productosSoapOut">
    <wsdl:part name="parameters" element="tns:Lista_productosResponse" />
  </wsdl:message>
  <wsdl:portType name="pre_orden_compraSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_productos">
      <wsdl:input message="tns:Lista_productosSoapIn" />
      <wsdl:output message="tns:Lista_productosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pre_orden_compraSoap" type="tns:pre_orden_compraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_productos">
      <soap:operation soapAction="http://tempuri.org/Lista_productos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="pre_orden_compraSoap12" type="tns:pre_orden_compraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_productos">
      <soap12:operation soapAction="http://tempuri.org/Lista_productos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pre_orden_compra">
    <wsdl:port name="pre_orden_compraSoap" binding="tns:pre_orden_compraSoap">
      <soap:address location="http://localhost:1987/servicios/comercializacion/Pre_orden_compra.asmx" />
    </wsdl:port>
    <wsdl:port name="pre_orden_compraSoap12" binding="tns:pre_orden_compraSoap12">
      <soap12:address location="http://localhost:1987/servicios/comercializacion/Pre_orden_compra.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>